<div class="flex row space-between">
  <h1>{{title}}</h1>

  <div class="flex row center">
    <a href="/preferences/{{user.id}}" class="nav-left">Preferences</a>
    <a href="/logout">Logout</a>
  </div>


</div>