{{> title}}

<div class="flex col auth-container">
  <h2>Log In</h2>

  <p class="text-body warn">{{message}}</p>

  <form action="/login" method="POST" class="flex col center">
  
    <div class="flex col">
      <label for=" username" class="text-body black">Username</label>
      <input type="text" name="username" class="input-credential">
    </div>
    
    <div class="flex col">
      <label for="password" class="text-body black">Password</label>
      <input type="password" name="password" class="input-credential">
    </div>

    <button type="submit">Log In</button>
  </form>
</div>