:root {
  font-size: 10px; }

body {
  --color-main-bg: rgb(250, 250, 250);
  --color-divider-line: rgb(200, 200, 200);
  --color-signal: rgb(234, 0, 255);
  --color-text-black: rgb(22, 22, 22);
  --color-text-grey: rgb(161, 161, 161);
  --color-text-inverted: var(--color-main-bg);
  background-color: var(--color-main-bg);
  padding: 0px;
  font-family: 'Inter', sans-serif; }

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  color: var(--color-signal);
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

h2 {
  font-size: 2.4rem;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

.text-body {
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.849);
  padding: 1% 2%;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-top: 2px; }

.black {
  color: var(--color-text-black); }

.grey {
  color: var(--color-text-grey); }

.warn {
  color: var(--color-signal);
  background-color: rgba(255, 255, 255, 0.863); }

a,
a:visited {
  font-size: 1.6rem;
  color: var(--color-text-black);
  text-decoration: none; }

.enter {
  font-size: 1.6rem;
  text-decoration: none; }

.nav-left {
  margin-right: 28px; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding-top: 3px;
  padding-bottom: auto;
  text-align: center;
  margin: 4px;
  border-radius: 10px; }

.primary {
  background-color: var(--color-signal);
  color: var(--color-text-inverted);
  width: 160px; }

button {
  background: var(--color-signal);
  height: 32px;
  width: 128px;
  color: var(--color-text-inverted);
  font-size: 1.6rem;
  border: none;
  padding: 0;
  font: inherit; }

.flex {
  display: flex; }

.row {
  flex-direction: row; }

.col {
  flex-direction: column; }

.center {
  align-items: center; }

.wrap {
  flex-wrap: wrap; }

.space-between {
  justify-content: space-between; }


nav {
  height: 56px;
  padding-left: 24px;
  padding-right: 24px; }

.auth-container {
  width: 320px; }

.input-credential {
  height: 32px;
  width: 320px; }

.tag {
  padding: 8px; }


.main {
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.screen {
  width: 100vh;
  margin: auto; }

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }

.subheader {
  height: 32px;
  padding-left: 24px;
  padding-right: 24px; }

.rec-container {
  padding: 24px; }

.album-cover {
  width: 600px;
  height: 600px; }

.info-container {
  margin-left: 32px;
  width: 100%; }

.track-container {
  margin-top: 24px; }

.track-item {
  padding-bottom: 8px;
  padding-top: 8px;
  border-top: 1px solid var(--color-divider-line); }


/*# sourceMappingURL=style.css.map */