body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  --color-error: red;
}

a {
  color: #00B7FF;
}

/* Typography */

/* Typescale */
.error {
  color: var(--color-error);
}


/* Layout */
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.tag {
  display: flex;
  flex-direction: row;
  padding: 8px;
}